
$brand-050: #EFF8FB;
$brand-100: #DAEEF5;
$brand-200: #C5E3EE;
$brand-300: #AFD9E8;
$brand-400: #9ACFE2;
$brand-500: #85C4DB;
$brand-600: #70BAD5;
$brand-700: #5AB0CF;
$brand-800: #45A5C8;
$brand-900: #309BC2;


$gray-900-alt: #282d32;
$gray-900: #252525;
$gray-700: #3f454b;
$gray-500: #616365;
$gray-400: #6d7883;
$gray-200: #bfbfbf;
$gray-100: #e6e6e6;
$gray-050: #f6f6f6;
$gray-000: #ffffff;

$blue-100: #FBFCFE;
$blue-200: #DEE4EF;
$blue-300: #C2CCE1;
$blue-400: #A5B4D2;
$blue-500: #899DC4;
$blue-600: #6C85B5;
$blue-700: #4F6DA6;
$blue-800: #335598;
$blue-900: #163D89;


$red-900: hsl(10, 90%, 55%);
$red-050: hsl(1, 100%, 95%);

$black-transparent-100: hsla(0, 0%, 0%, 0.50);
$black-transparent-050: hsla(0, 0%, 0%, 0.10);

$body-text: $gray-700;
$body-heading: $gray-900;
$body-caption: $gray-500;

$body-heading-light-100: hsl(216, 11%, 90%);
$body-heading-light-050: hsl(216, 11%, 98%);

$error-primary: $red-900;
$error-light: $red-050;

$box-shadow: 0 0 4px 3px $black-transparent-050;
$box-shadow-alt: 0 0 5px 3px $black-transparent-100;
$box-shadow-inset: inset 0 2px 4px 0 $gray-100;

// $primary: $gray-900-alt;